.playlist-covers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 10px 10px 10px;
}

#playlist-buttons div {
    flex-basis: 150px;
}
  
button {
   /* border-radius: 30%;
   background-color: #9dabff; */
   /* color: #fff; */ 
    text-align: center;   
}
  
.all-songs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    
}

.padding-button{
    padding: 0.7rem;
    border-radius: 0.2em;
}

/* #chillectro{
    flex-shrink: 1;
}

#motivation{
    flex-shrink: 1;
}

#pardy{
    flex-shrink: 1;
}

#shake{
    flex-shrink: 1;
} */